# This is Git's per-user configuration file.

[include]
    # global git config settings (email, GPG, etc)
    path = .git_user.conf

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

[commit]
    verbose = true
	gpgSign = true

[alias]    
    b = branch
    bd = branch -D
    c = commit 
    ca = commit --amend
    co = checkout
    cob = checkout -b
    com = checkout master
    coq = checkout qa
    cp = cherry-pick
    f = fetch
    ladog = log --all --decorate --oneline --graph
    lol = log --oneline
    p = pull
    pdo = push --delete origin 
    pf = push --force
    psu = push --set-upstream
    psuo = push --set-upstream origin 
    rbm = rebase origin/master
    rbq = rebase origin/qa
    rbum = rebase upstream/master
    rh = reset --hard
    s = status

[core]
	autocrlf = input

[pull]
	rebase = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
